.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nointeract {
    pointer-events: none;
}
.page-content {
    display: inline-block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    }
    
    body {
        overflow: hidden;
}